-i https://pypi.org/simple
aiofile==3.8.8; python_version >= '3.7' and python_version < '4'
aiofiles==23.2.1; python_version >= '3.7'
aiohttp==3.8.5; python_version >= '3.6'

async-pytube==1.0.2
pytube==11.0.0; python_version >= '3.6'

